{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link href="{{ asset('css/about.css') }}" rel="stylesheet"/>
{% endblock %}

{% block title %}
	{{ title }}
{% endblock %}

{% block body %}

	<section>
		{# Un commentaire dans un fichier twig #}
		<h1>{{ title }}</h1>
		<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum fugit praesentium blanditiis deleniti recusandae expedita aperiam temporibus quis. Excepturi repellendus architecto tenetur amet harum magnam quasi consequuntur perspiciatis obcaecati quod!</p>


	</section>
{% endblock %}
